<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020004153956-7tts2qgnbg6atneiddvlm3gv11d96eo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020004153956-7tts2qgnbg6atneiddvlm3gv11d96eo9</string>
	<key>API_KEY</key>
	<string>AIzaSyANOaAXr0l2ChmYsVGjQZ_pectk_rhm6W4</string>
	<key>GCM_SENDER_ID</key>
	<string>1020004153956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erdoganturpcu.InteraktifSozluk</string>
	<key>PROJECT_ID</key>
	<string>interaktifsozluk-79b61</string>
	<key>STORAGE_BUCKET</key>
	<string>interaktifsozluk-79b61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020004153956:ios:bb7dc2d4984c9ddcc4bd71</string>
</dict>
</plist>